.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
}

.nav-link-button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #555;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-link-button:hover {
  background-color: #777;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: yellowgreen;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .nav-link-button {
  background-color: #777;
}

.header-links {
  display: flex;
  gap: 0.5rem;
}
